*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primar-color: rgb(0, 0, 0);
    --hover-color: rgb(63, 153, 255);
    --text-color: rgb(255, 255, 255);
    --small-font: 16px;
    --medium-font: 20px;
    --title-font: 50px;
    --secondar-font: 'Jost', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primar-color);
    
}
section{
    width: 100%;
    position: absolute;
    top: 0;
}
.wrapper{
    width: 100%;
    color: white;
    padding: 0 64px;
    margin-top: 75px;
}
.wrapper h1{
    font-family: var(--secondar-font);
    font-size: var(--title-font);
    text-align: center;
    padding: 64px 0 48px 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilepic{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilepic img{
    width: 480px;
    height: 450px;
}
.content{
    height: 500px;
    padding: 16px;
    display: flex;
    align-items: center;
}
.content p{
    font-size: var(--small-font);
    font-family: var(--secondar-font);
    text-align: justify;
    line-height: 22px;
}
@media screen and (max-width: 1080px) {
    .container{
        display: block;
    }
    .profilepic{
        margin: 0 auto;
    }
    .content{
        display: block;
        height: auto;
    }
    .wrapper h1{
        padding: 32px 0;
    }
    .content p{
        text-align: center;
    }
    .profilepic img{
        width: 100%;
        height: 100%;
    }
    .profilepic{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .profilepic img{
        width: 100%;
        height: 100%;
    }
    .profilepic{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        width: 100%;
        color: white;
        padding: 0 32px;
        margin-top: 75px;
    }
    .wrapper h1{
        font-family: var(--secondar-font);
        font-size: 40px;
        text-align: center;
        margin: 0px auto;
        padding: 32px 0;
    }
}
.scrollup a{
    width: 60px;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: gray;
}
.scrollup a svg{
    width: 30px;
    height: 25px;
}

#contact-form{
    display: flex;
    justify-content: center;
}
#contact-form form{
    width: 500px;
    margin: 0 auto;
}
.form-input{
    font-family: var(--secondar-font);
    font-size: var(--small-font);
    margin-bottom: 32px;
    display: block;
}
.form-input input {
    width: 100%;
    height: 42px;
    padding: 0 8px;
    margin-top: 8px;
    font-family: var(--secondar-font);
    font-size: var(--medium-font);
    border: none;
    border-radius: 5px;
}
.form-input textarea {
    width: 100%;
    height: 130px;
    padding: 8px;
    margin-top: 8px;
    font-family: var(--secondar-font);
    font-size: var(--medium-font);
    border: none;
    border-radius: 5px;
}
.submit-btn{
    padding: 8px 32px;
    margin-bottom: 64px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    color: var(--text-color);
    font-size: var(--small-font);
    font-family: var(--secondar-font);
}
@media screen and (max-width: 600px) {
    .scrollup a{
        display: none;
    }
}