:root{
    --primar-color: rgb(0, 0, 0);
    --hover-color: rgb(63, 153, 255);
    --text-color: rgb(255, 255, 255);
    --small-font: 16px;
    --medium-font: 20px;
    --title-font: 50px;
    --secondar-font: 'Jost', sans-serif;
}
header {
    width: 100%;
    height: 75px;
}
#navbar{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 0, 0, 80);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    position: fixed;
    top: 0;
    z-index: 4;
}
.navbar-logo img {
    width: 90pxpx;
    height: 70px;
}
.scroll-logo{
    display: none;
}
.navbar-link{
    width: 300px;
}
.navbar-link ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: left;
}
.navbar-link ul li{
    padding-right: 32px;
}
.links{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--secondar-font);
    font-size: var(--medium-font);
    font-weight: 300;
}
.links:hover{
    color: var(--hover-color);
    transition: ease 0.3s;
}
#active{
    font-weight: 600;
    color: var(--hover-color);
}
.navbar-contact{
    width: 300px;
}
.navbar-contact ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
}
.navbar-contact ul li{
    padding-left: 8px;
}
.social{
    text-decoration: none;
}
.linkedin, .email{
    fill: var(--text-color);
    width: 32px;
    height: 32px;
}

.linkedin:hover, .email:hover{
    fill: var(--hover-color);
    transition: ease 0.3s;
}

@media screen and (max-width: 800px){
    .navbar-link{
        display: none;
        
    }
    .navbar-contact{
        display: none;
    }
    #navbar{
        display: block;
    }
    .navbar-logo{
        margin: 0 auto;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
.toggle-menu{
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
    align-items: center;
    position: relative;
    bottom: 50px;
    float: right;
}
.toggle-menu div{
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--text-color);
}
.toggle-menu div::before{
    content: "";
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 0;
}
.toggle-menu div::after{
    content: "";
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 800px) {
    .toggle-menu{
        display: flex
    }
}

.footer {
    margin: 32px 0 40px 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkedin-footer, .email-footer{
    fill: white;
    width: 40px;
    height: 40px;
    color: var(--text-color);
}
.linkedin-footer:hover, .email-footer:hover{
    fill: var(--hover-color);
    transition: ease 0.3s;
}
.footer-contact ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contact ul li{
    padding: 0 8px;
}
.coppy-right{
    margin-top: 32px;
}
.coppy-right span{
    color: rgba(196, 196, 196, 0.356);
    font-family: var(--secondar-font);
    font-size: 14px;
}